PySide6>=6.6.0
PySide6-Addons>=6.6.0
python-dotenv>=1.0.0
playwright
playwright-stealth
requests
soundfile
scipy
numpy
funasr
torch
torchaudio
librosa
edge-tts
imageio-ffmpeg
wavmark
inflect
unidecode
pypinyin
cn2an
jieba
eng-to-ipa
gruut
anyascii
jamo
num2words
jsonlines
python-crfsuite
Babel
dateparser
pydub
face-alignment
pyyaml
opencv-python
